{
  "api_key": "VersionEye-API-Key",
  "api_organization": "VersionEye-Organization-Name",
  "directory": "/Absolute/path/to/repo_name",
  "report_directory": "repo_name",
  "traversal_depth": 0,
  "dependency_file_types": ["Gemfile.lock", "package.json"],
  "slack_webhook": "https://hooks.slack.com/services/WEBHOOK",
  "test_webhook": "https://hooks.slack.com/services/TEST_WEBHOOK"
}
